@use '../../../variables' as vars;

.home {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    min-height: 100vh;
    height: auto;
    background: url('@assets/images/purple-gradient.jpg') no-repeat center center fixed;
    background-size: cover;

    header {
        display: flex;
        justify-content: center;
        padding-top: 3rem;

        img {
            width: 50%;
            max-width: 1000px;
            height: auto;
        }
    }

    .glass-container {
        backdrop-filter: blur(20px) saturate(220%);
        -webkit-backdrop-filter: blur(20px) saturate(200%);
        background-color: rgba(255, 255, 255, 0.521);
        border-radius: 12px;
        border: 1px solid rgba(209, 213, 219, 0.178);
        padding: 2rem;
        text-align: center;
        width: 100%;
        max-width: 450px;

        h1 {
            color: vars.$primaryDarkerColor;
            margin-bottom: 0.5rem;
            font-size: 1.5rem;
        }

        p.home-description {
            margin-bottom: 2rem;
            font-size: 1rem;
        }

        p {
            color: vars.$secondaryTextColor;

            .toggle-text {
                color: vars.$primaryDarkColor;
                font-weight: bold;
                cursor: pointer;
            }
        }

        .input-group {
            margin-bottom: 1.8rem;

            .p-float-label {
                width: 100%;

                >div {
                    width: 100%;

                    div {
                        width: 100%;
                    }
                }

                input {
                    width: 100%;
                    padding: 0.8rem;
                    border-radius: 8px;
                    background: rgba(vars.$primaryLightColor, 0.5);
                    font-size: 1rem;
                }

                label {
                    color: vars.$secondaryTextColor;
                }
            }

            .forgot-password {
                display: block;
                text-align: right;
                margin-top: 0.5rem;
                color: vars.$primaryDarkColor;
                font-size: 0.9rem;
                cursor: pointer;
            }
        }

        .sign-in-button {
            width: 100%;
            padding: 0.8rem;
            font-size: 1rem;
            margin-bottom: 1rem;
            color: vars.$primaryTextColor;
            background: vars.$primaryDarkColor;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .signup-text {
            margin-top: 1rem;
            font-size: 0.9rem;
            color: vars.$secondaryTextColor;
        }
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        backdrop-filter: blur(15px) saturate(120%) brightness(90%);

        p,
        a {
            color: vars.$primaryTextColor;
        }

        a:hover{
            color: vars.$primaryLightColor;
        }
    }

    @media (max-width: 768px) {
        header {
            img {
                width: 70%;
            }
        }

        .glass-container {
            padding: 1.5rem;
            max-width: 70%;

            h1 {
                font-size: 1.25rem;
            }

            p.home-description {
                font-size: 0.9rem;
            }

            .sign-in-button {
                padding: 0.6rem;
                font-size: 0.9rem;
            }

            .input-group {
                margin-bottom: 1.5rem;

                .p-float-label {
                    input {
                        padding: 0.6rem;
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }

    @media (max-width: 480px) {
        .glass-container {
            padding: 1rem;
            max-width: 90%;

            h1 {
                font-size: 1rem;
            }

            p.home-description {
                font-size: 0.8rem;
            }

            .sign-in-button {
                padding: 0.5rem;
                font-size: 0.8rem;
            }

            .input-group {
                .p-float-label {
                    input {
                        padding: 0.5rem;
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}