$primaryColor: #8b5cf6;
$primaryLightColor: #ddd6fe;
$primaryDarkColor: #7c3aed;
$primaryDarkerColor: #6d28d9;
$primaryTextColor: #ffffff;
$secondaryTextColor: #3e3e3e;
$terciaryTextColor: #6b7280;

$primaryBg: #f6f7f9;
$highlightBg: #f5f3ff;
$highlightTextColor: $primaryDarkerColor;
$highlightFocusBg: rgba($primaryColor, 0.24);

$shadow_color: #00000029;