.dashboard {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    .dashboard-content {
        width: 100%;
        border-radius: 8px;
        padding: 1rem;
    }

    .p-dialog {
        width: 50vw;

        @media (max-width: 768px) {
            width: 90vw;
        }
    }
}
