.create-join-company-modal {
    padding: 1rem;

    .p-tabview-panels {
        >div {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding-top: 1rem;
        }
    }

    .no-companies {
        text-align: center;
        color: #999;
        font-style: italic;
    }
}