@use '../../../../../../variables' as vars;

.company-employees {
    .employees-list {
        .employees-list-header {
            display: flex;
            justify-content: flex-end;
            gap: 1rem;

            .p-inputgroup {
                width: auto;
            }
        }

        .p-avatar-text {
            font-size: 0.8rem;
        }

        .action-buttons {
            display: flex;
            justify-content: end;
            gap: 0.5rem;

            i {
                font-size: 1.2rem;

                &:hover {
                    cursor: pointer;
                    color: vars.$primaryColor;
                }
            }
        }
    }
}

.p-dialog {
    .add-employee-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
        margin-top: 1.5rem;
        min-width: 350px;

        input {
            width: 100%;
        }
    }
}