@use '../../../../../../variables' as vars;

.company-content {
    flex: 1;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: vars.$shadow_color 0px 1px 5px;

    form {
        >div {
            margin-bottom: 2rem;

            label {
                display: block;
                margin-bottom: 0.5rem;
                font-weight: bold;
            }

            input,
            .p-inputtext {
                width: 100%;
                padding: 0.5rem;
            }
        }
    }
}