@use '../../../../../../variables' as vars;

.company-employees {
    .action-bar {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1.5rem;

        .search-input {
            flex: 1;
        }
    }

    .p-datatable {
        .p-datatable-thead > tr > th {
            background-color: vars.$highlightBg;
        }
    }
}
