@use "../variables" as vars;
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import "primeicons/primeicons.css";

:root {
    font-family: "Rubik", sans-serif;
    scroll-behavior: smooth;
    min-height: 100%;

    ::selection {
        background-color: vars.$highlightFocusBg;
    }
}

* {
    box-sizing: border-box;
    scrollbar-width: thin;
    font-family: "Rubik", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}